<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body data-skip-auth-redirect="true">
  <%- include('../partials/header', { title, userName }) %>
  <main>
    <section>
      <card>
        <p>ダッシュボードはここに表示されます</p>
      </card>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 <%= projectName %>. All rights reserved.</p>
  </footer>
  <script id="firebase-config" type="application/json"><%- JSON.stringify(firebaseConfig || {}) %></script>
  <script type="module" src="/javascripts/firebase-auth.js" defer></script>
</body>

</html>
