<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1>
      <%= title %>
    </h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/setting">Setting</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <card>
        <h2>アカウント認証</h2>
        <button href="/login">ログイン</button>
        <button href="/signup">アカウント作成</button>
      </card>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 <%= title %>. All rights reserved.</p>
  </footer>
  <script id="firebase-config" type="application/json"><%= JSON.stringify(app.locals.firebaseConfig) %></script>
  <script src="/javascripts/firebase-auth.js"></script>
</body>

</html>